nav{
    background-color: #555b6e;
    padding: 11px;
}

span{
    color: var(--main-color-span);
    margin-left: 20px;
    align-items: center;
}

.navbar-brand {
    text-align: center;
}

img{
    height: 100%;
}