<br />
<section>
  <div class="row">
    <div class="titol-info col-1">No.</div>
    <div class="titol-info col-1">Pic</div>
    <div class="titol-info col-2">Name</div>
    <div class="titol-info col-2">Type</div>
    <div class="titol-info col-6">
      Stats
      <div class="d-flex">
        <div class="titol-info col-2">PS</div>
        <div class="titol-info col-2">Att</div>
        <div class="titol-info col-2">Dif</div>
        <div class="titol-info col-2">Att.Sp</div>
        <div class="titol-info col-2">Dif.Sp</div>
        <div class="titol-info col-2">Vel</div>
      </div>
    </div>
  </div>
</section>
<br />
<section>
  <div class="row">
    <div class="titol-info col-1">
      <div class="info">No.</div>
    </div>
    <div class="titol-info col-1">
      <div class="info">Pic</div>
    </div>
    <div class="titol-info col-2">
      <div class="info">Name</div>
    </div>
    <div class="titol-info col-2">
      <div class="info">Type</div>
    </div>
    <div class="titol-info col-1">
      <div class="info">PS</div>
    </div>
    <div class="titol-info col-1">
      <div class="info">Att</div>
    </div>
    <div class="titol-info col-1">
      <div class="info">Dif</div>
    </div>
    <div class="titol-info col-1">
      <div class="info">Att.Sp</div>
    </div>
    <div class="titol-info col-1">
      <div class="info">Dif.Sp</div>
    </div>
    <div class="titol-info col-1">
      <div class="info">Vel</div>
    </div>
  </div>
</section>
<br />
<app-pokemon-row></app-pokemon-row>
<br />
