
table{
    width: 50%;
    background-color: var(--main-bg-color-table);
    border-collapse: collapse;
    border-radius: 5px;
    text-align: center;
}

img{
    width: 210px; 
    height: 210px;
}

.row {
    --bs-gutter-x: 0px;
}

.col-2{
    width: 15%;
    margin: auto;
}

.titol-info{
    text-decoration: capitalize;
    background-color: #BEE3DB;
    border-radius: 5px;
    padding: 4px;
}

.info{
    background-color: white;
    border-radius: 5px;
    padding: 3px;
}