 
<div>
<table align="center">
    <tr class="basic-info">
        <td rowspan="3">Immagine</td>
        <td>
            <table class="tbcell">name</table>
        </td>
        <td>Id</td>
    </tr>
    <tr class="height-weight">
        <td>height</td>
        <td>weight</td>
    </tr>
    <tr class="statistics">
        <td colspan="2">statistics</td>
    </tr>
    <tr class="type">
        <td colspan="3">type</td>
    </tr>
    <tr class="pokedex-entry">
        <td colspan="3">pokedex entry</td>
    </tr>
  </table>
</div>