<section>
    <div class="row">
      <div class="titol-info col-1 pr-4">
        <div class="info">No.</div>
      </div>
      <div class="titol-info col-1">
        <div class="info">Pic</div>
      </div>
      <div class="titol-info col-2">
        <div class="info">Name</div>
      </div>
      <div class="titol-info col-2">
        <div class="info">Type</div>
      </div>
      <div class="titol-info col-1">
        <div class="info">PS</div>
      </div>
      <div class="titol-info col-1">
        <div class="info">Att</div>
      </div>
      <div class="titol-info col-1">
        <div class="info">Dif</div>
      </div>
      <div class="titol-info col-1">
        <div class="info">Att.Sp</div>
      </div>
      <div class="titol-info col-1">
        <div class="info">Dif.Sp</div>
      </div>
      <div class="titol-info col-1">
        <div class="info">Vel</div>
      </div>
    </div>
  </section>
