<section>
  <div class="row">
    <div class="titol-info col-1 border border-2">
      <div class="info clickable" (click)="GoToDetail(pokemon.name)">
        {{ pokemon.id }}
      </div>
    </div>
    <div class="titol-info col-1 border border-2">
      <div class="info clickable" (click)="GoToDetail(pokemon.name)">
        <img src="{{ pokemon.sprite }}" />
      </div>
    </div>
    <div class="titol-info col-2 border border-2">
      <div
        class="info clickable text-capitalize spanName"
        (click)="GoToDetail(pokemon.name)"
      >
        {{ pokemon.name }}
      </div>
    </div>
    <div class="titol-info col-2 border border-2">
      <div class="info">
        <div
          *ngFor="let type of pokemon.types"
          class="badge rounded-pill text-bg-primary"
        >
          {{ type.name }}
        </div>
      </div>
    </div>
    <div class="titol-info col-1 border border-2">
      <div class="info">{{ pokemon.stats.hp }}</div>
    </div>
    <div class="titol-info col-1 border border-2">
      <div class="info">{{ pokemon.stats.attack }}</div>
    </div>
    <div class="titol-info col-1 border border-2">
      <div class="info">{{ pokemon.stats.defense }}</div>
    </div>
    <div class="titol-info col-1 border border-2">
      <div class="info">{{pokemon?.stats?.['special-attack']}}</div>
    </div>
    <div class="titol-info col-1 border border-2">
      <div class="info">{{pokemon?.stats?.['special-defense']}}</div>
    </div>
    <div class="titol-info col-1 border border-2">
      <div class="info">{{ pokemon.stats.speed }}</div>
    </div>
  </div>
</section>