<br />
<section>
  <div class="row">
    <div class="titol-info col-1">No.</div>
    <div class="titol-info col-1">Pic</div>
    <div class="titol-info col-2">Name</div>
    <div class="titol-info col-2">Type</div>
    <div class="col-6">
      <div class="titol-info">Stats</div>
      <p></p>
      <div class="d-flex">
        <div class="titol-info col-2">PS</div>
        <div class="titol-info col-2">Att</div>
        <div class="titol-info col-2">Dif</div>
        <div class="titol-info col-2">Att.Sp</div>
        <div class="titol-info col-2">Dif.Sp</div>
        <div class="titol-info col-2">Vel</div>
      </div>
    </div>
  </div>
</section>
<br />
