.col-2 {
    flex: 0 0 auto;
    width: 16%;
    margin: auto;
}

.col-1 {
    flex: 0 0 auto;
    width: 8%;
    margin: auto;
}

p {
    margin-bottom: 2px;
}

section{
    margin-top: 15px;
    margin-bottom: 8px;
}