/* You can add global styles to this file, and also import other style files */
html,body{
    margin: 0px;
    padding: 0px;
}

html * {
    font-family:'Rubick', 'Bayon', sans-serif;
}

:root{
    --main-color-span: aliceblue;
    --main-bg-color-table: cadetblue;
    --main-border: 4px turquoise solid;
    --main-bg-color-tbcell: white;
    /*--main-img-size: width: 96px, height: 96px;*/
}